### _Exercise_
_Load_ `diabetes.csv`

In [1]:
# Jawaban anda di sini
import pandas as pd
import numpy as np
df = pd.read_csv('diabetes.csv')
df.head()

,times_pregnant,plasma_glucose,diastolic_blood_pressure,tricep_skin_fold_thickness,serum_insulin,body_mass_index,diabetes_pedigree_function,age,class
0,6.0,148.0,72.0,35.0,NaN,33.6,0.627,50,pos
1,1.0,85.0,66.0,29.0,NaN,26.6,0.351,31,neg
2,8.0,183.0,64.0,NaN,NaN,23.3,0.672,32,Positive
3,1.0,89.0,66.0,23.0,94.0,28.1,0.167,21,neg
4,NaN,137.0,40.0,35.0,168.0,43.1,2.288,33,pos

1. Apakah ada kolom yang 40% dari datanya adalah _missing value_? Bila ada, hapus dari tabel!

In [2]:
# Jawaban anda di sini
df_2 = df.copy()
df_2.drop(df_2.columns[(df.isna().sum()/df.isna().count()>0.4)], axis=1, inplace=True)
df_2.head()

,times_pregnant,plasma_glucose,diastolic_blood_pressure,tricep_skin_fold_thickness,body_mass_index,diabetes_pedigree_function,age,class
0,6.0,148.0,72.0,35.0,33.6,0.627,50,pos
1,1.0,85.0,66.0,29.0,26.6,0.351,31,neg
2,8.0,183.0,64.0,NaN,23.3,0.672,32,Positive
3,1.0,89.0,66.0,23.0,28.1,0.167,21,neg
4,NaN,137.0,40.0,35.0,43.1,2.288,33,pos

2. Pada kolom `class`, temukan nilai-nilai uniknya. Ubah semua nilainya menjadi "Diabetes" (untuk yang positif) atau "Not diabetes" (untuk yang negatif)

In [3]:
df_2['class'].value_counts()

neg         264
Negative    236
Positive    136
pos         132
Name: class, dtype: int64

In [4]:
# Jawaban anda di sini
df_2.loc[:,'class'] = np.where(df_2['class'].str.contains('neg'), 'Not diabetes',
                               np.where(df_2['class'].str.contains('Negative'), 'Not diabetes',
                                        np.where(df_2['class'].str.contains('pos'), 'Diabetes',
                                                np.where(df_2['class'].str.contains('Positive'), 'Diabetes','Other'))))
df_2

,times_pregnant,plasma_glucose,diastolic_blood_pressure,tricep_skin_fold_thickness,body_mass_index,diabetes_pedigree_function,age,class
0,6.0,148.0,72.0,35.0,33.6,0.627,50,Diabetes
1,1.0,85.0,66.0,29.0,26.6,0.351,31,Not diabetes
2,8.0,183.0,64.0,NaN,23.3,0.672,32,Diabetes
3,1.0,89.0,66.0,23.0,28.1,0.167,21,Not diabetes
4,NaN,137.0,40.0,35.0,43.1,2.288,33,Diabetes
...,...,...,...,...,...,...,...,...
763,10.0,101.0,76.0,48.0,32.9,0.171,63,Not diabetes
764,2.0,122.0,70.0,27.0,36.8,0.340,27,Not diabetes
765,5.0,121.0,72.0,23.0,26.2,0.245,30,Not diabetes
766,1.0,126.0,60.0,NaN,30.1,0.349,47,Diabetes
767,1.0,93.0,70.0,31.0,30.4,0.315,23,Not diabetes

3. Dari jawaban nomor 1, ambil 3 kolom pertama yang berisi _missing value_ untuk diisi dengan _back filling_.

In [5]:
# Jawaban anda di sini
df_2.iloc[:,:3] = df_2.iloc[:,:3].fillna(method='bfill')
df_2

,times_pregnant,plasma_glucose,diastolic_blood_pressure,tricep_skin_fold_thickness,body_mass_index,diabetes_pedigree_function,age,class
0,6.0,148.0,72.0,35.0,33.6,0.627,50,Diabetes
1,1.0,85.0,66.0,29.0,26.6,0.351,31,Not diabetes
2,8.0,183.0,64.0,NaN,23.3,0.672,32,Diabetes
3,1.0,89.0,66.0,23.0,28.1,0.167,21,Not diabetes
4,5.0,137.0,40.0,35.0,43.1,2.288,33,Diabetes
...,...,...,...,...,...,...,...,...
763,10.0,101.0,76.0,48.0,32.9,0.171,63,Not diabetes
764,2.0,122.0,70.0,27.0,36.8,0.340,27,Not diabetes
765,5.0,121.0,72.0,23.0,26.2,0.245,30,Not diabetes
766,1.0,126.0,60.0,NaN,30.1,0.349,47,Diabetes
767,1.0,93.0,70.0,31.0,30.4,0.315,23,Not diabetes

4. Dari jawaban 1 dan 3, ambil 1 kolom selanjutnya yang berisi _missing value_ untuk diisi dengan nilai mediannya.

In [6]:
# Jawaban anda di sini
col_med = df_2.iloc[:,3].median()
df_2.iloc[:,3].fillna(col_med, inplace=True)
df_2

,times_pregnant,plasma_glucose,diastolic_blood_pressure,tricep_skin_fold_thickness,body_mass_index,diabetes_pedigree_function,age,class
0,6.0,148.0,72.0,35.0,33.6,0.627,50,Diabetes
1,1.0,85.0,66.0,29.0,26.6,0.351,31,Not diabetes
2,8.0,183.0,64.0,29.0,23.3,0.672,32,Diabetes
3,1.0,89.0,66.0,23.0,28.1,0.167,21,Not diabetes
4,5.0,137.0,40.0,35.0,43.1,2.288,33,Diabetes
...,...,...,...,...,...,...,...,...
763,10.0,101.0,76.0,48.0,32.9,0.171,63,Not diabetes
764,2.0,122.0,70.0,27.0,36.8,0.340,27,Not diabetes
765,5.0,121.0,72.0,23.0,26.2,0.245,30,Not diabetes
766,1.0,126.0,60.0,29.0,30.1,0.349,47,Diabetes
767,1.0,93.0,70.0,31.0,30.4,0.315,23,Not diabetes

5. Dari jawaban 1, 3, dan 4, ambil kolom sisanya yang berisi _missing value_ untuk diganti dengan nilai _mean_

In [7]:
df_2.isna().sum()

times_pregnant                 0
plasma_glucose                 0
diastolic_blood_pressure       0
tricep_skin_fold_thickness     0
body_mass_index               11
diabetes_pedigree_function     0
age                            0
class                          0
dtype: int64

In [8]:
# Jawaban anda di sini
col_mean = df_2['body_mass_index'].mean()
df_2['body_mass_index'].fillna(col_mean, inplace=True)

In [9]:
df_2.isna().sum()

times_pregnant                0
plasma_glucose                0
diastolic_blood_pressure      0
tricep_skin_fold_thickness    0
body_mass_index               0
diabetes_pedigree_function    0
age                           0
class                         0
dtype: int64

6. Dari keseluruhan kolom numerik, ambil 4 kolom pertama untuk dinormalisasi

In [10]:
df_2.dtypes

times_pregnant                float64
plasma_glucose                float64
diastolic_blood_pressure      float64
tricep_skin_fold_thickness    float64
body_mass_index               float64
diabetes_pedigree_function    float64
age                             int64
class                          object
dtype: object

In [11]:
# Jawaban anda di sini
from sklearn.preprocessing import normalize

norm_df = normalize(df_2.iloc[:,:4], norm='l2', axis=1)
norm_df

array([[0.03563546, 0.87900803, 0.42762553, 0.20787352],
       [0.00897195, 0.7626156 , 0.59214858, 0.2601865 ],
       [0.04077707, 0.93277551, 0.32621657, 0.14781688],
       ...,
       [0.03502503, 0.84760583, 0.50436049, 0.16111516],
       [0.00701551, 0.88395482, 0.42093087, 0.20344992],
       [0.0083014 , 0.77203018, 0.58109798, 0.25734339]])

In [12]:
df_norm = pd.DataFrame(norm_df, columns=df_2.columns[:4])
df_norm

,times_pregnant,plasma_glucose,diastolic_blood_pressure,tricep_skin_fold_thickness
0,0.035635,0.879008,0.427626,0.207874
1,0.008972,0.762616,0.592149,0.260186
2,0.040777,0.932776,0.326217,0.147817
3,0.008836,0.786441,0.583204,0.203238
4,0.034006,0.931757,0.272046,0.238040
...,...,...,...,...
763,0.073759,0.744967,0.560569,0.354044
764,0.013963,0.851732,0.488699,0.188498
765,0.035025,0.847606,0.504360,0.161115
766,0.007016,0.883955,0.420931,0.203450
767,0.008301,0.772030,0.581098,0.257343

In [13]:
df_norm.isna().sum()

times_pregnant                0
plasma_glucose                0
diastolic_blood_pressure      0
tricep_skin_fold_thickness    0
dtype: int64

7. Dari soal nomor 6, ambil kolom sisanya (selain 4 kolom pertama) yang numerik untuk di-_scaling_ dengan membuat _range_-nya dari 0 hingga 1

In [14]:
# Jawaban anda di sini
from sklearn.preprocessing import MinMaxScaler

minmax = MinMaxScaler().fit_transform(df_2.iloc[:,4:7])
minmax

array([[0.31492843, 0.23441503, 0.48333333],
       [0.17177914, 0.11656704, 0.16666667],
       [0.10429448, 0.25362938, 0.18333333],
       ...,
       [0.16359918, 0.07130658, 0.15      ],
       [0.24335378, 0.11571307, 0.43333333],
       [0.24948875, 0.10119556, 0.03333333]])

In [15]:
df_minmax = pd.DataFrame(minmax, columns=df_2.columns[4:7])
df_minmax

     body_mass_index  diabetes_pedigree_function       age
0           0.314928                    0.234415  0.483333
1           0.171779                    0.116567  0.166667
2           0.104294                    0.253629  0.183333
3           0.202454                    0.038002  0.000000
4           0.509202                    0.943638  0.200000
..               ...                         ...       ...
763         0.300613                    0.039710  0.700000
764         0.380368                    0.111870  0.100000
765         0.163599                    0.071307  0.150000
766         0.243354                    0.115713  0.433333
767         0.249489                    0.101196  0.033333

[768 rows x 3 columns]

In [35]:
df_norm.merge(df_minmax,left_index=True,right_index=True)
df_norm

,times_pregnant,plasma_glucose,diastolic_blood_pressure,tricep_skin_fold_thickness
0,0.035635,0.879008,0.427626,0.207874
1,0.008972,0.762616,0.592149,0.260186
2,0.040777,0.932776,0.326217,0.147817
3,0.008836,0.786441,0.583204,0.203238
4,0.034006,0.931757,0.272046,0.238040
...,...,...,...,...
763,0.073759,0.744967,0.560569,0.354044
764,0.013963,0.851732,0.488699,0.188498
765,0.035025,0.847606,0.504360,0.161115
766,0.007016,0.883955,0.420931,0.203450
767,0.008301,0.772030,0.581098,0.257343